{% extends "base.html" %}
{% load staticfiles %}
{% block head %}

{% endblock %}
{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="post-title">
                    Get the source code to learn what this is all about
                </h2>
                <h3 class="post-subtitle">
                    <a href="https://github.com/godaddy/cijtemplate">https://github.com/godaddy/cijtemplate</a>
                </h3>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="/">Continue &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
